# Fixes import errors
[MASTER]
init-hook='import sys; sys.path.append("aws_iot/"); sys.path.append("tests/")'

# It’s OK to name a loop variable "i"
[BASIC]
 good-names=i

# disable all to-do's for now
[MESSAGES CONTROL]
  disable=fixme,broad-exception-caught